[submodule "backend"]
	path = apps/backend
	url = https://github.com/PhanTanSang-netizen/TrustLens-Backend.git
[submodule "frontend"]
	path = apps/frontend
	url = https://github.com/tranquynhnhu102025-hash/Frontend-TrustLens.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/tranquynhnhu102025-hash/Frontend-TrustLens.git
