[submodule "frontend"]
	path = frontend
	url = https://github.com/PhanTanSang-netizen/TrustLens-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/PhanTanSang-netizen/TrustLens-Backend.git
